*{
    margin: 0;
    padding: 0;
    color: white;
}
img{
    width:100%;
    height:650px;
    object-fit:cover;
    object-position:50% 50%;
    position: absolute;
    z-index: -1;
}
header{
    height: 80px;
    background-color: rgb(6, 32, 32);
}
a#bar{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}
i{
    color: black;
    padding: 10px 20px;
}
i:hover{
    background-color:rgb(26, 53, 53);
    border-radius: 4px;
}
h2{
    padding-top: 25px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(153, 57, 22);
}
ul{
    list-style-type: none;
    margin-top: 82px;
    background-color:rgb(6, 32, 32);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
#myUL{
    display: none;
}
li a{
    text-decoration: none;
    display: block;
    margin-left: 100px;

}
li{
    background-color: black;
    border-top: 1px ridge rgb(6, 32, 32);
    border-bottom: 2px inset rgb(6, 22, 22);
    line-height: 120px;
}
li:hover{
    background-color: rgb(46, 13, 13);
}
li:active{
    background-color: rgb(21, 43, 43);
}
section{
    font-size: large;
    margin-top: 17%;
    margin-left: 5%;
}
section span.Name{
    font-size:300% ;
    font-weight: 700;
}
section span.skill{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    font-size: medium;
    font-family: cursive;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color:rgb(6, 32, 32);
}
input:hover{
    background-color: transparent;
}