*{
    margin: 0;
    padding: 0;
    color: white;
}
img{
    width:100%;
    height:650px;
    object-fit:cover;
    object-position:50% 50%;
    position: absolute;
    z-index: -1;
}
ul{
    list-style-type: none;
    margin-left:0;
}
a#bar{
    display: none;
}
ul li{
    padding: 20px 30px;
    display: inline-block;
}
h2{
    padding-top: 20px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(153, 57, 22);
}
ul li a{
    text-decoration: none;
    color: white;
}
ul{
    float: right;
    margin-top: 10px;
}
header{
    height: 80px;
    background-color: rgb(6, 32, 32);
}
ul li a:hover{
    color:black;
}
ul li a:active{
    color: grey;
}
section{
    font-size: large;
    margin-top: 17%;
    margin-left: 5%;
}
section span.Name{
    font-size:300% ;
    font-weight: 700;
}
section span.skill{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    font-size: medium;
    font-family: cursive;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color:rgb(6, 32, 32);
}
input:hover{
    background-color: transparent;
}
